[submodule "mizrahi_5/k303_magna_downloader"]
	path = mizrahi_5/k303_magna_downloader
	url = https://github.com/Reneb82labs/Maya-K303-Reports-Downloader.git
[submodule "Mizrahi_4/indx_downloader"]
	path = Mizrahi_4/indx_downloader
	url = https://github.com/Rainerrr/indx-historical-downloader.git
